AZURE_B2C_CLIENT_ID=TU_CLIENT_ID_AQUI
AZURE_B2C_TENANT_ID=TU_TENANT_ID_AQUI
AZURE_B2C_TENANT_NAME=TU_TENANT_NAME_AQUI
AZURE_B2C_FLOW_NAME=B2C_1_signin
AZURE_B2C_CLIENT_SECRET=TU_CLIENT_SECRET_AQUI
ORACLE_PASSWORD=AlertasPass123