AZURE_B2C_CLIENT_ID=17224af8-60d0-4cfb-8d09-5690cf96510d
AZURE_B2C_TENANT_ID=23938dbe-e10d-49f0-a56a-c46cbc59b330
AZURE_B2C_TENANT_NAME=testazure2026
AZURE_B2C_FLOW_NAME=B2C_1_signin
AZURE_B2C_CLIENT_SECRET=Nvy8Q~mlmX7jE0_-PdKxt3ReUrssJc2F7T-IvaJ8
ORACLE_PASSWORD=AlertasPass123