# Archivo con credenciales reales - NUNCA al repositorio
.env
.env.example

# Maven
target/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# Docker
docker-compose.override.yml
reportes-json/resumen-signos-paciente-15-20260625_214927.json
